<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Transaction</title>
    <link href="../css/navBarStyle.css" rel="stylesheet" type="text/css" >
    <link href="../css/addTransactionStyle.css" rel="stylesheet" type="text/css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="text/javascript"></script>
    <script src="../js/addTransaction.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
    </style>
</head>
<body>
    {{> navBar}}
    
    <div id="addTransact_box">
        <h1 id="label_addTransact">Add Transaction</h1>
        <div id="addTransactForm_box">
            <form id="form_addTransact" method="post" action="/postTransaction">
               <!-- <div class="addTransactDetail_box" id="addTransactStatus_box">
                    <h5 class="label" id="label_addTransactStatus">Status</h5>
                    <select class="addTransactInput addSelect" id="select_addTransactStatus" name="status" required>
                        <option value="" disabled selected hidden>Select status</option>
                        <option id="addTransact_option_delivered_complete">Delivered Completely</option> 
                        <option id="addTransact_option_delivered_partially">Delivered Partially</option> 
                        <option id="addTransact_option_pending">Pending</option> 
                        <option id="addTransact_option_cancelled">Canceled</option> 
                    </select>
                    <p class="error" id="errorAddTransactStatus">{{error}}</p>
                </div> -->
                <div class="addTransactDetail_box" id="addTransactDate_box">
                    <h5 class="label" id="label_addTransactDate">Date</h5>
                    <input class="addTransactInput" id="input_addTransactDate" type="date" name="date" autocomplete="off" required><br>
                    <p class="error" id="errorAddTransactDate">{{error}}</p>
                </div>
                <div class="addTransactDetail_box" id="addTransactDeliveryNo_box">
                    <h5 class="label" id="label_addTransactDeliveryNo">Delivery Receipt No.</h5>
                    <input class="addTransactInput" id="input_addTransactDeliveryNo" type="number" min = "0" name="delivery_receipt_no" autocomplete="off" required><br>
                    <p class="error" id="errorAddTransactDeliveryNo">{{error}}</p>
                </div>
                <div class="addTransactDetail_box" id="addTransactSalesNo_box">
                    <h5 class="label" id="label_addTransactSalesNo">Sales Invoice No.</h5>
                    <input class="addTransactInput" id="input_addTransactSalesNo" type="number" min = "0" name="sales_invoice_no" autocomplete="off" required><br>
                    <p class="error" id="errorAddTransactSalesNo">{{error}}</p>
                </div>
                <div class="addTransactDetail_box" id="addTransactTruckPlateNo_box">
                    <h5 class="label" id="label_addTransactTruckPlateNo">Truck Plate No.</h5>
                    <input class="addTransactInput" id="input_addTransactTruckPlateNo" type="text" name="truck_plate_no" autocomplete="off" required><br>
                    <p class="error" id="errorAddTransactTruckPlateNo">{{error}}</p>
                </div>
                <div class="addTransactDetail_box" id="addTransactCustomerName_box">
                    <h5 class="label" id="label_addTransactCustomerName">Customer Name</h5>
                    <input class="addTransactInput" id="input_addTransactCustomerName" type="text" name="customer_name" autocomplete="off" required><br>
                    <p class="error" id="errorAddTransactCustomerName">{{error}}</p>
                </div>
                <div class="addTransactDetail_box" id="addTransactAddress_box">
                    <h5 class="label" id="label_addTransactAddress">Address</h5>
                    <input class="addTransactInput" id="input_addTransactAddress" type="text" name="address" autocomplete="off" required><br>
                    <p class="error" id="errorAddTransactAddress">{{error}}</p>
                </div>
                <!-- <div class="addTransactDetail_box" id="addTransactAccntNo_box">
                    <h5 class="label" id="label_addTransactAccntNo">Account No.</h5>
                    <input class="addTransactInput" id="input_addTransactAccntNo" type="number" min = "0" name="account_no" autocomplete="off" required><br>
                    <p class="error" id="errorAddTransactAccntNo">{{error}}</p>
                </div> -->
                <div class="addTransactDetail_box" id="addTransactTinNo_box">
                    <h5 class="label" id="label_addTransactTinNo">Tin No.</h5>
                    <input class="addTransactInput" id="input_addTransactTinNo" type="text" name="tin_no" autocomplete="off" required><br>
                    <p class="error" id="errorAddTransactTinNo">{{error}}</p>
                </div>

                 {{!-- checkbox of products --}}
                <div class="addTransactDetail_box" id="addTransactProduct_box">
                    <h5 class="label" id="label_addTransactProduct">Product(s)</h5>
                    <div class="add_check_items_box">
                        <div class="add_product_check_item">
                            <input class="add_product_checkbox" type="checkbox" id="add_checkbox_diesel" value="true" name="add_checkbox_diesel">
                            <label class="add_product_check_label" for="add_checkbox_diesel">Diesel</label>
                        </div>
                        <div class="add_product_check_item">
                            <input class="add_product_checkbox" type="checkbox" id="add_checkbox_gasoline" value="true" name="add_checkbox_gasoline">
                            <label class="add_product_check_label" for="add_checkbox_gasoline">Gasoline</label>
                        </div>
                        <div class="add_product_check_item">
                            <input class="add_product_checkbox" type="checkbox" id="add_checkbox_premium95" value="true" name="add_checkbox_premium95">
                            <label class="add_product_check_label" for="add_checkbox_premium95">Premium Gasoline 95</label>
                        </div>
                        <div class="add_product_check_item">
                            <input class="add_product_checkbox" type="checkbox" id="add_checkbox_premium97" value="true" name="add_checkbox_premium97">
                            <label class="add_product_check_label" for="add_checkbox_premium97">Premium Gasoline 97</label>
                        </div>
                        <div class="add_product_check_item">
                            <input class="add_product_checkbox" type="checkbox" id="add_checkbox_kerosene" value="true" name="add_checkbox_kerosene">
                            <label class="add_product_check_label" for="add_checkbox_kerosene">Kerosene</label>
                        </div>
                    </div>
                    <p class="error" id="errorAddTransactProduct">{{error}}</p>
                </div>

                 {{!-- product detail fields --}}
                <div class="addProductDetails_box" id="addDieselDetails_box">
                    <div class="addDetail_box" id="addTransactQuantity_box">
                        <h5 class="label" id="label_addTransactQuantity">Quantity of Diesel in Liters</h5>
                        <input class="addTransactInput" id="input_addTransactQuantityDiesel" type="number" step = "0.01" min = "0" name="diesel_quantity" autocomplete="off"><br>
                        <p class="error" id="errorAddTransactQuantity">{{error}}</p>
                    </div>
                    <div class="addDetail_box" id="addTransactSellingPrice_box">
                        <h5 class="label" id="label_addTransactSellingPrice">Selling Price of Diesel</h5>
                        <input class="addTransactInput" id="input_addTransactSellingPriceDiesel" type="number" step = "0.01" min = "0" name="diesel_selling_price" autocomplete="off"><br>
                        <p class="error" id="errorAddTransactSellingPrice">{{error}}</p>
                    </div>
                    <!-- <div class="addDetail_box" id="addTransactAmnt_box">
                        <h5 class="label" id="label_addTransactAmnt">Amount/Diesel</h5>
                        <input class="addTransactInput" id="input_addTransactAmnt" type="number" step = "0.01" min = "0" name="diesel_amount_per_product" autocomplete="off"><br>
                        <p class="error" id="errorAddTransactAmnt">{{error}}</p>
                    </div> -->
                </div>
                <div class="addProductDetails_box" id="addGasolineDetails_box">
                    <div class="addDetail_box" id="addTransactQuantity_box">
                        <h5 class="label" id="label_addTransactQuantity">Quantity of Gasoline in Liters</h5>
                        <input class="addTransactInput" id="input_addTransactQuantityGasoline" type="number" step = "0.01" min = "0" name="gasoline_quantity" autocomplete="off" ><br>
                        <p class="error" id="errorAddTransactQuantity">{{error}}</p>
                    </div>
                    <div class="addDetail_box" id="addTransactSellingPrice_box">
                        <h5 class="label" id="label_addTransactSellingPrice">Selling Price of Gasoline</h5>
                        <input class="addTransactInput" id="input_addTransactSellingPriceGasoline" type="number" step = "0.01" min = "0" name="gasoline_selling_price" autocomplete="off"><br>
                        <p class="error" id="errorAddTransactSellingPrice">{{error}}</p>
                    </div>
                    <!-- <div class="addDetail_box" id="addTransactAmnt_box">
                        <h5 class="label" id="label_addTransactAmnt">Amount/Gasoline</h5>
                        <input class="addTransactInput" id="input_addTransactAmnt" type="number" step = "0.01" min = "0" name="amount_per_product" autocomplete="off"><br>
                        <p class="error" id="errorAddTransactAmnt">{{error}}</p>
                    </div> -->
                </div>
                <div class="addProductDetails_box" id="addPremium95Details_box">
                    <div class="addDetail_box" id="addTransactQuantity_box">
                        <h5 class="label" id="label_addTransactQuantity">Quantity of Premium Gasoline 95 in Liters</h5>
                        <input class="addTransactInput" id="input_addTransactQuantityPremium95" type="number" step = "0.01" min = "0" name="premium95_quantity" autocomplete="off"><br>
                        <p class="error" id="errorAddTransactQuantity">{{error}}</p>
                    </div>
                    <div class="addDetail_box" id="addTransactSellingPrice_box">
                        <h5 class="label" id="label_addTransactSellingPrice">Selling Price of Premium Gasoline 95</h5>
                        <input class="addTransactInput" id="input_addTransactSellingPricePremium95" type="number" step = "0.01" min = "0" name="premium95_selling_price" autocomplete="off"><br>
                        <p class="error" id="errorAddTransactSellingPrice">{{error}}</p>
                    </div>
                    <!-- <div class="addDetail_box" id="addTransactAmnt_box">
                        <h5 class="label" id="label_addTransactAmnt">Amount/Premium Gasoline 95</h5>
                        <input class="addTransactInput" id="input_addTransactAmnt" type="number" step = "0.01" min = "0" name="amount_per_product" autocomplete="off"><br>
                        <p class="error" id="errorAddTransactAmnt">{{error}}</p>
                    </div> -->
                </div>
                <div class="addProductDetails_box" id="addPremium97Details_box">
                    <div class="addDetail_box" id="addTransactQuantity_box">
                        <h5 class="label" id="label_addTransactQuantity">Quantity of Premium Gasoline 97 in Liters</h5>
                        <input class="addTransactInput" id="input_addTransactQuantityPremium97" type="number" step = "0.01" min = "0" name="premium97_quantity" autocomplete="off" ><br>
                        <p class="error" id="errorAddTransactQuantity">{{error}}</p>
                    </div>
                    <div class="addDetail_box" id="addTransactSellingPrice_box">
                        <h5 class="label" id="label_addTransactSellingPrice">Selling Price of Premium Gasoline 97</h5>
                        <input class="addTransactInput" id="input_addTransactSellingPricePremium97" type="number" step = "0.01" min = "0" name="premium97_selling_price" autocomplete="off"><br>
                        <p class="error" id="errorAddTransactSellingPrice">{{error}}</p>
                    </div>
                    <!-- <div class="addDetail_box" id="addTransactAmnt_box">
                        <h5 class="label" id="label_addTransactAmnt">Amount/Premium Gasoline 97</h5>
                        <input class="addTransactInput" id="input_addTransactAmnt" type="number" step = "0.01" min = "0" name="amount_per_product" autocomplete="off"><br>
                        <p class="error" id="errorAddTransactAmnt">{{error}}</p>
                    </div> -->
                </div>
                <div class="addProductDetails_box" id="addKeroseneDetails_box">
                    <div class="addDetail_box" id="addTransactQuantity_box">
                        <h5 class="label" id="label_addTransactQuantity">Quantity of Kerosene in Liters</h5>
                        <input class="addTransactInput" id="input_addTransactQuantityKerosene" type="number" step = "0.01" min = "0" name="kerosene_quantity" autocomplete="off"><br>
                        <p class="error" id="errorAddTransactQuantity">{{error}}</p>
                    </div>
                    <div class="addDetail_box" id="addTransactSellingPrice_box">
                        <h5 class="label" id="label_addTransactSellingPrice">Selling Price of Kerosene</h5>
                        <input class="addTransactInput" id="input_addTransactSellingPriceKerosene" type="number" step = "0.01" min = "0" name="kerosene_selling_price" autocomplete="off"><br>
                        <p class="error" id="errorAddTransactSellingPrice">{{error}}</p>
                    </div>
                    <!-- <div class="addDetail_box" id="addTransactAmnt_box">
                        <h5 class="label" id="label_addTransactAmnt">Amount/Kerosene</h5>
                        <input class="addTransactInput" id="input_addTransactAmnt" type="number" step = "0.01" min = "0" name="amount_per_product" autocomplete="off"><br>
                        <p class="error" id="errorAddTransactAmnt">{{error}}</p>
                    </div> -->
                </div>
                {{!-- end of product detail fields --}}
               
                <!-- <div class="addDetail_box" id="addTransactTotalAmnt_box">
                    <h5 class="label" id="label_addTransactTotalAmnt">Total Amount</h5>
                    <input class="addTransactInput" id="input_addTransactTotalAmnt" type="number" step = "0.01" min = "0" name="total_amount" autocomplete="off"><br>
                    <p class="error" id="errorAddTransactTotalAmnt">{{error}}</p>
                </div> -->
                <div class="addTransactDetail_box" id="addTransactPrepared_box">
                    <h5 class="label" id="label_addTransactPrepared">Prepared By</h5>
                    <input class="addTransactInput" id="input_addTransactPrepared" type="text" name="prepared_by" autocomplete="off"><br>
                    <p class="error" id="errorAddTransactPrepared">{{error}}</p>
                </div>
                <div class="addTransactDetail_box" id="addTransactLoaded_box">
                    <h5 class="label" id="label_addTransactLoaded">Loaded By</h5>
                    <input class="addTransactInput" id="input_addTransactLoaded" type="text" name="loaded_by" autocomplete="off"><br>
                    <p class="error" id="errorAddTransactLoaded">{{error}}</p>
                </div>
                <div class="addTransactDetail_box" id="addTransactDriver_box">
                    <h5 class="label" id="label_addTransactDriver">Driver</h5>
                    <input class="addTransactInput" id="input_addTransactDriver" type="text" name="driver" autocomplete="off"><br>
                    <p class="error" id="errorAddTransactDriver">{{error}}</p>
                </div>
                <div class="addTransactDetail_box" id="addTransactGuard_box">
                    <h5 class="label" id="label_addTransactGuard">Guard</h5>
                    <input class="addTransactInput" id="input_addTransactGuard" type="text" name="guard" autocomplete="off"><br>
                    <p class="error" id="errorAddTransactGuard">{{error}}</p>
                </div>
                <div class="addTransactDetail_box" id="addTransactCustomerRep_box">
                    <h5 class="label" id="label_addTransactCustomerRep">Customer Representative</h5>
                    <input class="addTransactInput" id="input_addTransactCustomerRep" type="text" name="customer_representative" autocomplete="off"><br>
                    <p class="error" id="errorAddTransactCustomerRep">{{error}}</p>
                </div>
                <div class="addTransactDetail_box" id="addTransactApproved_box">
                    <h5 class="label" id="label_addTransactApproved">Delivery Approved By</h5>
                    <input class="addTransactInput" id="input_addTransactApproved" type="text" name="delivery_approved_by" autocomplete="off"><br>
                    <p class="error" id="errorAddTransactApproved">{{error}}</p>
                </div>
                <div class="addTransactDetail_box" id="addTransactChecked_box">
                    <h5 class="label" id="label_addTransactChecked">Delivery Checked By</h5>
                    <input class="addTransactInput" id="input_addTransactChecked" type="text" name="delivery_checked_by" autocomplete="off"><br>
                    <p class="error" id="errorAddTransactChecked">{{error}}</p>
                </div>
                <div class="addTransactDetail_box" id="addTransactRemarks_box">
                    <h5 class="label" id="label_addTransactRemarks">Remarks</h5>
                    <input class="addTransactInput" id="input_addTransactRemarks" type="text" name="remarks" autocomplete="off"><br>
                    <p class="error" id="errorAddTransactRemarks">{{error}}</p>
                </div>

                <div id="btnAddTransact_box">
                    <input class="addBtns" id="btn_addTransact" type="submit" value="Add Transaction">
                     <a href = "/transactions" style = "text-decoration: none; color: white;">
                        <button class="addBtns" id="btn_addTransactCancel" type="button" value="Cancel">Cancel</button>
                     </a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>